@model ReportGiveDto
@{
    ViewData["Title"] = "Give";
}

<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>@Model.Name</li>
                <li>/</li>
                <li>@Model.Game</li>
            </ul>
        </div>
    </div>
</div>

<div class="middlebox">
    
        <div class="tablediv tablediv1 tabledivbtn">
            <div class="stepbox">
                <div class="container">
                    <div id="frm-add-edit-builder-template" class="row">

                        

                    </div>
                </div>
            </div>
        </div>

        <div class="top-Rbox1 botdiv">
            <div class="top-Rbtn">
                <a href="/Report/Index" class="btn btn-secondary backBtn">Back</a>                
            </div>
        </div>
    
</div>



