@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<PollDto>
@using Aaina.Common;

<table class="table" id="tbl_session">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>

            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>@item.Name</td>

                    <td>@(item.IsActive?"Active":"In Actice")</td>
                    <td>
                        @if (item.IsEditable)
                        {
                        <a href="/admin/poll/AddEdit/@item.Id?parentId=@item.GameId"><i class="fa fa-pencil-square-o mtx"></i></a>
                        }
                        @if (item.IsActive)
                        {
                            <a href="/admin/poll/Delete/@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-poll"><i class="fa fa-trash-o mtx"></i></a>
                        }
                        <a href="/admin/poll/AddEdit?copyId=@item.Id&parentId=@item.GameId"><i class="fa fa-clone mtx"></i></a>
                    </td>
                </tr>
                i++;

            }
        }
        else
        {
            <tr>
                <td colspan="6">Poll not found</td>
            </tr>
        }


    </tbody>
</table>