@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_AdminLayout1.cshtml";
}





<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Home</li>
                <li>/</li>
                <li>List</li>
            </ul>

        </div>
    </div>
    <div class="top-Rbtn">


    </div>
</div>

<div class="middlebox">
    <div class="tablediv">
        <div class="table-cont" id="table-cont">
            <table class="table table-striped" id="tbl_role">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Look Name</th>
                        <th scope="col">Look Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>Daily at a specific time at 19:00</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>Daily on multipl e time slots 16 &amp; 19</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>Specific Day and Specific time in a week </td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>Specific Day and multiple  time slot in a week </td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>Specific date in a month </td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>Specific date in a month at multiple time slots </td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>Specific months and a date</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>Every second Sunday of each month</td>
                        <td>Game</td>
                        <td>
                            <a href="/admin/look/AddEdit/11?parentId=1"><i class="fa fa-pencil-square-o mtx"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                        </td>
                        <td>one time</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10
                        </td>
                        <td>look team1</td>
                        <td>Team</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11
                        </td>
                        <td>Look User</td>
                        <td>User</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12
                        </td>
                        <td>Test Game 17-02</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13
                        </td>
                        <td>dfds</td>
                        <td>Game</td>
                        <td>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>



