
@model List<SessionDto>
@using Aaina.Common;
@{
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}

<table class="table" id="tbl_session">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Session Name</th>
            <th scope="col">session Type</th>
            <th scope="col">Mode</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @i
                    </td>
                    <td>@item.Name</td>
                    <td>@(((SessionType)item.TypeId).ToString())</td>
                    <td>@(((SessionMode)item.ModeId).ToString())</td>
                    <td>@(item.IsActive?"Active":"In active")</td>
                    <td>
                        @if (CurrentMenuPermission.IsEdit)
                        {
                            <a href="/@tenant/session/Edit/@item.Id"><i class="fa fa-pencil-square-o mtx"></i></a>
                        }
                        @if (CurrentMenuPermission.IsDelete && item.IsActive)
                        {
                            <a href="/@tenant/session/Delete/@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-session"><i class="fa fa-trash-o mtx"></i></a>
                        }
                    </td>
                </tr>
                i++;

            }
        }
        else
        {
            <tr>
                <td colspan="5">Session not found</td>
            </tr>
        }


    </tbody>
</table>