@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model ChangePasswordDto
@using Microsoft.AspNetCore.Http;
@{

    ViewData["Title"] = "Log in";
}


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Change Password</li>
                <li>/</li>
                <li>@CurrentUser.Name</li>
            </ul>

        </div>
    </div>

</div>

<div class="middlebox">

    <div class="row">
        <div class="col-md-12" id="frm-changepassword">
            <div class="box">
                <form asp-controller="account" asp-action="ChangePassword" method="post" autocomplete="off">

                    <div id="validation-summary"></div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DisplayName">Current Password</label>
                                    <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Current Password" data-msg-required="*required" data-rule-required="true">
                                    <a href="javascript:void(0);" id="showpassword" class="password"><i class="fa fa-eye"></i></a>
                                    <span asp-validation-for="CurrentPassword" class="field-validation-error"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DisplayName">New Password</label>
                                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" data-msg-required="*required" data-rule-required="true">
                                    <span asp-validation-for="NewPassword" class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DisplayName">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="New Password" data-msg-required="*required" data-rule-required="true">
                                    <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-left" id="btn-submit" type="submit">Submit</button>
                        <a href="/home/index" class="btn btn-default pull-right">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>


</div>
@section scripts{
    <script src="~/js/Customejs/Account/ChangePassword.js" asp-append-version="true"></script>
}
