@model LoginDto
@using Aaina.Common;
@{
    Layout = null;
    ViewData["Title"] = "Forgot your password ?";
    string message = TempData["message"] != null ? TempData["message"].ToString() :string.Empty;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Aaina @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,600;1,700&display=swap" rel="stylesheet">
    <link href="~/Themes/Theme1/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Themes/Theme1/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Themes/Theme1/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/waitMe/waitMe.min.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: red;
        }

        .validation-summary-errors {
            color: red;
        }
    </style>
</head>

<body>
    <div id="dvWaitMe"></div>
    <div class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-box" id="account_login">

                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @message
                            </div>
                            <a name="Sign Up" class="btn btn-secondary" asp-action="login" asp-controller="Account">Go to login page</a>
                        }
                        else
                        {
                            <div class="login-logo">
                                <img src="~/Themes/Theme1/images/fo-icon2.png">
                            </div>
                        }

                        @if (string.IsNullOrEmpty(message))
                        {
                            <form asp-action="ForgotPassword" asp-controller="account" method="post" autocomplete="off">
                                <div id="validation-summary"></div>

                                <div class="form-group">
                                    <input type="text" asp-for="UserName" class="form-control" placeholder="User name/Email">
                                    <span asp-validation-for="UserName" class="field-validation-error"></span>
                                </div>

                                <div class="form-group btnlogin">
                                    <input name="Login" class="btn btn-primary" id="btn-submit" value="submit" type="submit">
                                    <a name="Sign Up" class="btn btn-secondary" asp-action="login" asp-controller="Account">Go to login page</a>
                                </div>
                                @Html.AntiForgeryToken()
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <script src="~/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/waitMe.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/Customejs/Account/Login.js"></script>
</body>
</html>